@import "variables";

body, html {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;
  font-family: Roboto, Noto, Ubuntu, Helvetica, sans-serif;
}

body, html, ul, li {
  margin: 0;
  padding: 0;
}

ul { list-style: none; }

.row {
  display: flex;
  flex: 1 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;

  nav {
    width: 240px;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    @extend .bg-vert-gradient-green;

    ul.navbar li a {
      text-align: center;
      display: block;
      padding: 16px 10px;
      text-decoration: none;
      color: #cde;
      font-size: 1.6rem;

      &:hover { background: #596; }
      &.active { background: $dark-green; }
    }
  }

  .page-content {
    justify-content: center;
    background: $offwhite;
    flex: 1;
    display: flex;

    .full-page {
      flex: 1;
      padding: 30px;
      margin: 10px;
      max-width: 1080px;
      @extend .bg-vert-gradient-offwhite;
    }
  }
}
