body, html {
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1;
  font-family: Helvetica, Ubuntu, sans-serif;
}

body, html, ul, li {
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex: 1 0;
}

.col {
  display: flex;
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.app {
  display: flex;
  // border: 8px solid green;

  nav {
    width: 240px;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    background: #999;

    ul.navbar {
      list-style: none;

      li a {
        text-align: center;
        display: block;
        padding: 10px 10px;
        text-decoration: none;
        color: #cde;
        font-size: 1.6rem;

        &:hover { background: #bbb; }
      }
    }
  }

  .page-content {
    flex: 1;
    align-content: center;
  }
}
